<web-app>

	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s2</servlet-name>
		<servlet-class>Insert</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s3</servlet-name>
		<servlet-class>Print</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s3</servlet-name>
		<url-pattern>/print</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s4</servlet-name>
		<servlet-class>InsertGrades</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s4</servlet-name>
		<url-pattern>/insertgrades</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s5</servlet-name>
		<servlet-class>PrintGrades</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s5</servlet-name>
		<url-pattern>/printgrades</url-pattern>
	</servlet-mapping>

</web-app>